
body{
  background-color: lightgray;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

select{
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #fff;
} 

label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

button{
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#purchaseForm {
  display: none;
}

#purchaseConfirmation{
  margin-top: 20px;
  background-color: #dff0d8;
  border: 1px solid #3c763d;
  color: #3c763d;
  padding: 10px;
  border-radius: 4px;
}

#activityDetails{
text-align: left;
padding: 20px;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
}

nav{
  padding: 20px;
}
nav ul{
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline;
  margin: 0 10px;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover{
  color: grey;
}