body{
  margin: 0;
  padding: 0;
}

body{
  background-color: lightgray;
  font-family: Helvetica, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

select{
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: white;
}

label {
  display: block;
  font-weight: bold;
  margin: 10px 0;
}

button{
  padding: 10px 10px;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
}

#purchaseForm {
  display: none;
}

#purchaseConfirmation{
  margin-top: 20px;
  color: black;
  padding: 10px;
}

#activityDetails{
text-align: left;
padding: 20px;
}